 body{
    display: flex;
    min-width: 100%;
    min-height: -webkit-fill-available;
    /* min-height: 100vh; */
    /* background-image: url(../images/background.jpg); */
    /* background-color: #1e1e1e; */
}
